<div class="container">
<div class="line-separator"></div>
<h2>THE BOLD PARTICIPANTS</h2>
<div class="line-separator"></div>
<div class="participants-roster">
<% @pool.bets.each do |bet| %>
  <div class="col-xs-12">
    <% participant_url = bet.user.facebook_picture_url || "http://placehold.it/30x30" %>
    <div class="flex-participants">
      <p><%= image_tag participant_url, class: "avatar-participant"%></p>
      <div>
      <p id="selection-name"><%= "#{bet.user.first_name} #{bet.user.last_name}" %></p>
      <p id="selection-text"><%= "#{bet.selection.title}" %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
