<div class="col-xs-12">
  <div class="pool-section-container last">
    <h2>THE BOLD PARTICIPANTS</h2>
    <div class="participants-roster" data-participants="<%= @pool.bets.count %>">
      <% if @pool.bets.empty? %>
        <p class="no-participants text-center" style="color: lightgrey">No best bet yet...</p>
      <% end %>
      <% @pool.bets.each do |bet| %>
        <%= render 'participant', bet: bet %>
      <% end %>
    </div>
  </div>
</div>
