<div class="share">
<h6>SHARE</h6>
<br>
<div class="sharelinkshh">
  <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%253A%252F%252Fcodepen.io%252Fsupah%252Fpen%252FMKNwZV&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Freturn%2Fclose%3Ferror_code%3D4201%26error_message%3DUser%2Bcanceled%2Bthe%2BDialog%2Bflow%23_%3D_&display=popup&locale=en_GB" target="_blank" class="ico fb">
    <i class="fa fa-facebook fa-2x"></i>
  </a>

  <a href="https://twitter.com/login?redirect_after_login=%2Fhome%3Fstatus%3DSocial%2520Share%2520by%2520%2540supahfunk%2520http%253A%2F%2Fcodepen.io%2Fsupah%2Fpen%2FMKNwZV" target="_blank" class="ico tw">
    <i class="fa fa-twitter fa-2x"></i>
  </a>
  <a href="whatsapp://send?abid=username&text= Yo player you want to get in on the action?: http://www.betfriendsforever.co.uk/pools/1" target="_blank" class="ico wa">
    <i class="fa fa-whatsapp fa-2x"></i>
  </a>
  </div>
  <!-- <span class="text">
    <em>SHARE</em>
  </span>
 -->
</div>
<!-- <div class="share">
  <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//codepen.io/supah/pen/MKNwZV" target="_blank" class="ico fb">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="https://twitter.com/home?status=Social%20Share%20by%20%40supahfunk%20http%3A//codepen.io/supah/pen/MKNwZV" target="_blank" class="ico tw">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="whatsapp://send?abid=username&text=HeyThere!" target="_blank" class="ico gp">
    <i class="fa fa-whatsapp"></i>
  </a>
  <span class="text">
    <em>SHARE</em>
  </span>
  <svg class="ico-share">
    <use xlink:href="#ico-share"></use>
  </svg>
</div> -->

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
  <symbol id="ico-share" x="0px" y="0px"
  viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
  <g>
    <path fill="#FFFFFF" d="M13.26,10.387c-0.781,0-1.484,0.328-1.982,0.854L5.445,8.385c0.02-0.133,0.034-0.27,0.034-0.41
    c0-0.136-0.013-0.269-0.032-0.399l5.823-2.824c0.5,0.529,1.205,0.861,1.99,0.861c1.514,0,2.74-1.227,2.74-2.74
    s-1.227-2.74-2.74-2.74c-1.513,0-2.739,1.227-2.739,2.74c0,0.136,0.013,0.269,0.032,0.399L4.73,6.097
    c-0.5-0.529-1.205-0.861-1.99-0.861C1.227,5.236,0,6.462,0,7.976c0,1.513,1.227,2.739,2.74,2.739c0.781,0,1.484-0.328,1.983-0.854
    l5.832,2.855c-0.021,0.134-0.035,0.27-0.035,0.41c0,1.514,1.227,2.739,2.74,2.739S16,14.641,16,13.127S14.773,10.387,13.26,10.387z
    "/>
  </g>
</symbol>
</svg>

