<div class="container">
  <div class="row ">
    <div class="col-xs-12 ">
      <div class="bettitle">
       <h1><%= @pool.title %></h1>
     </div>

     <div class="betsshow-details">
       <ul class="list-inline">
         <li>
          <i class="fa fa-users fa-3x" aria-hidden="true"></i>
        </li>
        <li>
          <h1>

          </h1>
        </li>
      </ul>
      <ul class="list-inline">
       <li>
        <i class="fa fa-money fa-3x" aria-hidden="true"></i>
      </li>
      <li>
        <h1><%= @pool.stake %></h1>
      </li>
    </ul>
  </div>

  <div class="HSVHSV">
  </div>

  <div class="descriptionbet">
    <h1><%= @pool.description %></h1>
  </div>

  <%= render 'placebet' %>



</div>



</div>
</div>

