<div class="container">
  <div class="row ">
    <div class="col-xs-12 ">
      <div class="bettitle">
        <h1><%= @pool.title %></h1>
      </div>

      <div class="pools_show-details">


        <div class="bet-stats">
          <div class="bet-stats-content">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
            <h1>3</h1>
          </div>
          <div class="bet-stats-content">
            <i class="fa fa-money fa-3x" aria-hidden="true"></i>
            <h1><%= @pool.stake %></h1>
          </div>
        </div>
      </div>


      <div class="seperator-line"></div>


  <%= render 'placebet' %>



</div>



</div>



      <% if current_user == @pool.user %>
      <%= render 'confirm_winner' %>
      <% end %>
    </div>
  </div>

</div>

