.fa-money{
  color: green;
  width: 20px;
}
.betsshow-details{
  display: flex;
 justify-content: space-around;
}
.bettitle{
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
.descriptionbet{
  text-align: center;
}
.HSVHSV{
  border: solid black 1px;

}
.betselection{
  background-color: #333333;
  height: 70px;
  text-align:center;
  color: white;
  margin-top: 30px;
    font-size: 40px;
}
.selectedoption{
  background-color: #B12D30;
  height: 70px;
  text-align:center;
  color: white;
  margin-top: 30px;
  font-size: 40px;
}
.descriptionbetdetails{
  display:flex;
  width: 40px;
}
.moneeey{
  padding-left: 10px;
}
