.deposit-input {
  color: $gray;
}

.progress-amount {
  background-color: $gray-dark;
  margin-top: 50px;
  height: 30px;
  text-align: left;
  color: #fff;
  font-size: 14px;
}
@media only screen and (max-width: 500px) {
.progress-amount {
  font-size: 10px;
}
  }

.progress-details {
  background-color: $gray;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
}

.progress-finished {
  background-color: $gray-light;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
}

.deposit, .payement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  h3 {
    padding: 20px;
    color: $green;
  }
}


.depositbtn {
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: none;
  }
}


#balance {
  height: 44px;
}

.balance {
  text-align: center;
  margin: 20px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 30px;
    padding-left: 10px;
  }
}

.deposit-confirmation {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  padding: 0 20px;
}


