/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.tagline {
  color: $blue;
  margin: 10px;
  font-size: 25px;
}

.banner-create {
  border-radius: 3px;
  background-color: $blue;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 20px;
  form {
    width: 100%;
  }

  #selections input {
    padding: 12px 0 0 0;
    color: #234C63;
    border: none;
    font-size: 16px;
    background-color: white;
    width: auto;

    &:focus{
      box-shadow: none;
      border-color: white;
    }
  }
  #pool_description{
     margin: 0;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: #fbfbfb;
    font-size: 17px;
    &:focus{
      box-shadow: none;
      border-color: white;
    }

  }
  #pool_stake {
    margin: 0;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: #fbfbfb;
    font-size: 17px;
    &:focus{
      box-shadow: none;
      border-color: white;
    }
  }

  #pool_end_date {
    margin: 0;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: #fbfbfb;
    font-size: 17px;
    &:focus{
      box-shadow: none;
      border-color: white;
    }
  }

  #pool_title {
    margin: 0;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: $gray-lighter;
    font-size: 17px;
    &:focus{
      box-shadow: none;
      border-color: white;
    }
  }
}

.pool_invites_user {
  margin-bottom: 0;
  height: 40px;
  width: 100%;

  .bootstrap-select {
    width: 100%;
  }
}
// .form-control{
//   margin: 0;
//   outline: none;
//   display: block;
//   width: 100%;
//   border: none;
//   border-bottom: 1px solid white;
//   background: transparent;
//   color: $gray-lighter;
//   font-size: 17px;
// }

.bet-title::placeholder {
  color: $gray-lighter;
}

.fake-btn {
  width: 100%;
  border-radius: 3px;
  font-family: $header-font;
  font-size: 20px;
}

.real-submit {
  width: 100%;
  border-radius: 3px;
}

.fake-div {
  padding: 3px;
  width: 100%;
  p {
    color: white;
    text-align: center;
  }
}

.steps{
  position: absolute;
  top: 3px;
  left: 3px;
}

.icon {
  color: $blue;
}

.nested-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 15px;
  align-items: center;
  align-content: center;
  background: white;
  font-size: 25px;
  margin: 7px;
  border-radius: 4px;
  // .form-control{
  //   padding: 12px 0 0 0;
  //   color: $blue;
  //   // border: none;
  //   font-size: 16px;
  //   background-color: white;
  //   width: auto;
  //   &:focus {
  //     box-shadow: none;
  //   }
  // }
  .fa-times {
    color: $blue;
  }
}

  .form-control::prompt {
    color: $gray-lighter;
  }

.fa-plus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: $lighter-blue;
  color: $blue;
  font-size: 25px;
  margin: 7px;
  padding: 15px 0;
  border-radius: 4px;
  &:hover {
    color: white;
  }
}

.buton-holder {
  display: flex;
  justify-content: space-around;
}

.tab-link{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: $base-font;
    color: $blue;
  }
}


.links a {
  text-decoration: none;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: none;
  display: flex;
}

ul.pool-tabs {
  background-color: #254C62;
  border-radius: 5px;
  width: 500px;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: none;
  display: flex;
}

ul.tabs li{
  background: white;
  color: #222;
  padding: 10px 10px;
  cursor: pointer;
  flex: 1 1 auto;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: none;
  border-color: $gray;
  border-width: 1px;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}


ul.tabs li.current{
  background: $lighter-blue;
  color: #222;
}

    ul.pool-tabs li{
    border-radius: 5px;
    width: 70px;
    margin-left: 10px;
    border-style: none;
    padding: 0px;
    margin: 5px;
    text-align: center;
    }

ul.tabs li.current{
  background: $lighter-blue;
  color: #222;
}


.tab-content{
  display: none;
  padding: 15px;
  min-height: 80px;
  position: relative;
  outline: none;
}
.tab-content.current {
  display: inherit;
}

.real-submit {
  margin-top: 7px;
  font-family: $header-font;
  font-size: 20px;
}

.description_wrapper {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}

.description_input {
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid white;
  -webkit-appearance: none;
  background: transparent;
  color: white;
  font-size: 17px;
  outline: 0;
  height: 37px !important;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 768px) {
  .bet_creation-icon {
    width: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .bet_creation-icon {
    width: 30px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bet_creation-icon {
    width: 40px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .bet_creation-icon {
    width: 50px;
  }
}

.separator-home {
  height: 20px;
}
