/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.container {
  width: 700px;
  text-align: center;
}

.btn-lg {
  font-family: 'Varela Round', sans-serif;
  background-color: $blue;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
