.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid grey;
  margin-top: 25px;
  margin-bottom: 25px;
}

.invite-users h2{
  text-align: center;
  font-family: $header-font;
  font-size: 30px;
  color: #254C62;
}

.update-users {
  margin-bottom: 25px;
}
