
.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

.invite-users {
  text-align: center;
  font-family: $header-font;
  font-size: 25px;
  color: $green;
}

.update-users {
  margin-bottom: 25px;
}
