
.container h2 {
  color: #254C62;
  font-size: 30px;
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid $gray;
  margin-top: 25px;
  margin-bottom: 25px;
}


.avatar-participant{
  height: 65px;
  width: 65px;
  border-radius: 100%;
}

.flex-participants {
  display: flex;
  flex-direction: row;
  justify-content: flex-initial;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.flex-participants p {
 margin-left: 10px;
}

#selection-text {
  text-align: left;
  font-style: italic;
}

#selection-name {
  font-weight: bold;
}
