.new_bet {
  text-align: center;
}

.confirmbutton{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 25px;
  width: 80%;
  background: $blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0;
  &.active {
  background: $green;
  opacity: 1;
    &:hover {
      background-color: $green;
    }
    &:active {
      background-color: $green;
      box-shadow: 0;
    }
    &:focus {
      background-color: $green !important;
    }
  }

  &:hover {
    background-color: $blue;
  }
  &:active {
    background-color: $blue;

  }
  &:focus {
    background-color: $blue !important;
  }

}

.bet-selections {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.bet-selection {
  color: white;
  flex: 0 0 30%;
  background: $blue;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  &:hover {
    box-shadow: 3px 3px 5px #888888;
    cursor: pointer;
  }
  &.active {
    background: $green;
    opacity: 1;
    box-shadow: none;
  }
}
