.new_bet {
  text-align: center;
}

.confirmbutton{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 25px;
  width: 80%;
  background: $blue;
  border: none;
  border-radius: 5px;
  box-shadow: 0;
  display: block;
  width: 100%;
  line-height: 60px;
  background: #FFB00E;
  border-radius: 50px;
  opacity: 0.3;
  &.active {
    background: #FFB00E;
    opacity: 1;
    &:hover {
      background-color: $green;
    }
    // &:active {
    //   background-color: $green;
    //   box-shadow: 0;
    // }
    // &:focus {
    //   background-color: $green !important;
    // }
  }

  &:hover {
    background-color: $blue;
  }
  &:active {
    background-color: $blue;

  }
  &:focus {
    background-color: $blue !important;
  }

}

.bet-selections {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bet-selection {
  flex: 0 0 47%;
  color: white;
  background: #234C63;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &:hover {
    box-shadow: 3px 3px 5px #888888;
    cursor: pointer;
  }
  &.active {
    background: $green;
    opacity: 1;
    box-shadow: none;
  }
}
