.pools_show-details{
  display: flex;
  justify-content: space-around;
}

.bettitle{
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.descriptionbet{
  text-align: center;
}

.seperator-line{
  border: solid black 1px;
}

.pop-up {
  text-align: center;
  font-family: $header-font;
  font-size: 25px;
  color: $green;
}

.betselections{
  font-family: $base-font;
  font-size: 25px;
  background-color: $blue;
  height: 70px;
  border-radius: 10px;
  text-align:center;
  padding: 15px;
  color: white;
  margin-top: 30px;
}

.bet-stats {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bet-stats-content {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;


  .confirm-winner {
    margin-top: 20px;
  }

  .placebet {
    margin-top: 20px;
  }

  .invite {
    margin-top: 20px;

  }

  h1 {
    margin: 0;
  }

  i {
    margin-right: 20px;
  }
}


#pool-page {
  h2 {
    font-size: 17px;
    margin: 0px;
  }
}

.pool-section-container {
  margin: 5px;
  background: #f1f1f1;
  padding: 20px 10px;
  border-radius: 12px;
  &.first {
    margin-top: 20px;
  }
  &.last {
    margin-bottom: 20px;
  }
}


