.container {

}
.fa-money{
  color: green;
  width: 20px;
}
.pools_show-details{
  display: flex;
 justify-content: space-around;
}
.bettitle{
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
.descriptionbet{
  text-align: center;
}
.HSVHSV{
  border: solid black 1px;

}
.betselections{
  font-family: $base-font;
  font-size: 25px;
  background-color: $blue;
  height: 70px;
  border-radius: 10px;
  text-align:center;
  padding: 15px;
  color: white;
  margin-top: 30px;
}
