<div class="container">
  <div class="row">
  <h1>Top up your account</h1>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'user_id', current_user.id %>
      <%= number_field_tag :balance %>
      <%= submit_tag 'Deposit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


