<div class="banner">
<div class="container">
  <div class="banner-content">
    <h1>BE$T B€T</h1>
    <p>Bet big.  Bet small.  Bet on anything at all!</p>
    <%= link_to "Let's make a bet!", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>
  </div>
</div>
