<div class="banner-create">
  <div class="banner-content">
      <h2><em><strong>Create your b€t today!.</strong></em></h2>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                  <%= simple_form_for(@pool) do |f| %>
                    <%= f.input :title, required: false, input_html:{class:"my_input"}, label_html:{class:"my_label"}, wrapper_html:{class:"my_wrapper"}, placeholder: "Title of your b€t.." %>
                    <%= f.input :stake, required: false, input_html:{class:"my_input"}, label_html:{class:"pool-stake"}, wrapper_html:{class:"my_wrapper"}, placeholder: "For how much are we playing?" %>
                    <div class="fake-btn btn btn-primary">Fake Btn</div>
                    <div class="fake-div hidden"></div>
                    <div class="real-submit hidden">
                    <%= f.button :submit, class: 'btn btn-primary bold-text' %>
                    </div>
                  <% end %>
                  <%#= render 'selections/new' %>
                </div>
            </div>
         </div>
      </div>
  </div>
</div>



